* {
    box-sizing: border-box;
}


body {
    background-color: rgb(77, 70, 70);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar{
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    display: inline-block;
    background-color: rgb(22, 24, 24);
}

nav {
    float: right;
}
  
a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    font-size: 45px;
    margin-right: 35px;
    padding: 30px;
}

h1 {
    color: #fff;
    font-size: 60px;
    float: left;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 0 0 300px;
    margin-left: 60px;

}

.about-me-title-bar {
    width: 100%;
    display: inline-block;
    border-style: solid;
    border-width: 10px;
    margin: 30px;
}

h2 {
    font-size: 55px;
    float: left;
    margin-left: 40px;
}

ul {  
    font-size: 28px;
    float: right;
    list-style: none;
}

li {
    display: inline-block;
    margin: 24px;

}

.about-me {
    height: 900px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    border-style: solid;
    border-width: 10px;
    padding: 30px;
    width: 100%;
}

h3 {
    text-align:center;
    color: rgb(29, 29, 29);
    font-size: 30px;
}
.project-boxes {

  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.project-box-1 {
    border-style: solid;
    border-width: 10px;
    padding: 10px;
    flex: 0 0 300px;
    margin: 20px;
    background-color: white;
  
  
}

.project-box-2 {
    border-style: solid;
    border-width: 10px;
    padding: 10px;
    flex: 0 0 300px;
    margin: 20px;
    background-color:white;
    
}

.project-box-3 {
    border-style: solid;
    border-width: 10px;
    padding: 10px;
    flex: 0 0 300px;
    margin: 20px;
    background-color:white;
   
}

.project-box-4 {
    border-style: solid;
    border-width: 10px;
    padding: 10px;
    flex: 0 0 300px;
    margin: 20px;
    background-color:white;
  
}

#about-me {
    height: 520px;
    border-style: solid;
    border-width: 10px;
}


#project-1 {
    height: 150px;
    width: 150px;
}

#project-2 {
    height: 150px;
    width: 150px;
}

#project-3 {
    height: 150px;
    width: 150px;
}


#project-4 {
    height: 150px;
    width: 150px;
}

p {
    font-size: 40px;
    border-style: solid;
    border-width: 10px;
    padding: 15px;

    
}

  /* Large smartphones (ipads in devtools) - about me height goes to 1000px */
  @media screen and (max-width: 1359px) {
    .about-me {
       
        border: none;
    
    
      }
  }

    /* Large smartphones (ipads in devtools) - about me height goes to 1000px */
    @media screen and (max-width: 1359px) {
        p {
           
            font-size: 30px;
    
        
        
          }

           /* Large smartphones (ipads in devtools) - about me height goes to 1000px */
    @media screen and (max-width: 1171px) {
        p {
           
          display: block;
    
        
        
          }
      }