* {
    box-sizing: border-box;
    margin: 0px;
    
}

body {
    background-color: lightslategray;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    opacity: 0.9;
}

.navbar{
    width: 100%;
    color: #ffffff;
    display: inline-block;
    background-color: rgb(22, 24, 24);
    position: fixed;
    margin-top: 0px;
}


a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    float: right;
    text-align: center;
    padding: 16px;
    margin-top: 15px;
    margin: 10px;
    font-size: 32px;
}

h1 {
  color: #fff;
  font-size: 50px;
  float: left;
  display: inline-block;
  margin-left: 40px;
  margin-top: 20px;
 
}


.about-me {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 60px;
  background-color: lightslategrey;
  margin: 0px;
  margin-bottom: 110px;

}

.contact-info {
    width: 100%;
    display: block;
    margin: 10px;
}

ul {  
 
  list-style: none;
  text-align: center;

}

li {
    display: inline-block;
    text-align: center;
    padding: 16px;
    padding-bottom: 30px;
    font-size: 32px;
}

/* about me image */
#about-me {
  height: 900px; 
  display: block;
  margin-top: 50px;

}




/*the smaller project boxes (cards) that will be underneath the hero (with the main project)*/  

.project-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
   
   
  }

h3 {   
    padding: 10px;
    margin: 0px;
    margin-top: 20px;
    text-align: center;
    font-size: 40px;

    
}
.project-box-1 {
 
  flex: 0 0 400px;
  text-align: center;
  
  
}

.project-box-2 {
   
    flex: 0 0 400;
    text-align: center;


   
}

.project-box-3 {

    flex: 0 0 400px;
    text-align: center;


   
}
 
/* project box (card) images, rounded borders */
#project-1 {
    height: 350px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
   
    
    
}

#project-2 {
    height: 350px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
}

#project-3 {
    height: 350px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
   
}

/* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */

  
/* Tablets - hero image gets smaller*/
@media screen and (max-width: 992px) {
  .hero-image img {
     height: 500px; 
  }
}
  
/* Large smartphones -  hero image gets smaller*/
@media screen and (max-width: 768px) {
  .hero-image img{
    height: 500px;   
  }
}

/* Small smartphones -  hero image gets smaller*/
@media screen and (max-width: 576px) {
  .hero-image img {
     height: 500px; 
  }
}


  
  /* Tablets - hero image gets smaller*/
@media screen and (max-width: 992px) {
  .project-box-1, .project-box-2, .project-box-3{
    flex: 0 0 225px;
    text-align: center;
    margin: 7px;
    padding: 5px;   
    margin-left: 7px;
  }
}
  
/* Large smartphones -  hero image gets smaller*/
@media screen and (max-width: 768px) {
  .project-box-1, .project-box-3, .project-box-3{
    flex: 0 0 225px;
    text-align: center;
    margin: 7px;
    padding: 5px;
    margin-left: 7px;   
  }
}

/* Small smartphones -  hero image gets smaller*/
@media screen and (max-width: 576px) {
  .project-box-1, .project-box-2, .project-box-3{
    flex: 0 0 225px;
    text-align: center;
    margin: 7px;
    padding: 5px;  
    margin-left: 7px; 
  }
}

  /* Tablets - hero image gets smaller*/
  @media screen and (max-width: 992px) {
    #project-1, #project-2, #project-3{
     
     height: 115px;
    
    }
  }
    
  /* Large smartphones -  hero image gets smaller*/
  @media screen and (max-width: 768px) {
    #project-1, #project-2, #project-3{
      
      height: 115px;
   
    }
  }
  
  /* Small smartphones -  hero image gets smaller*/
  @media screen and (max-width: 576px) {
    #project-1, #project-2, #project-3{
     
      height: 115px;
      
    }
  }
